@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-ContentBlack bg-[#F6F7F8];
  }

  a[href] {
    @apply transition;

    &:hover {
      @apply text-InfoBlue;
    }
  }

  .link-underline {
    position: relative;
    width: fit-content;

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 25%;
      height: 2px;
      background: theme('colors.MainYellow');
      transition: 0.2s;
      opacity: 0;
    }

    &:hover {
      color: theme('colors.ContentBlack') !important;
      &::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}
